<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/game.css">
    <link rel="shortcut icon" href="./media/icon.png" type="image/png">
    <script src="../socket.io/socket.io.js"></script>
    <script>
        window.onbeforeunload=confirmExit;
        function confirmExit(){
            const error= 'you came out';
            window.location='/?error='+error;
        }
    </script>
    <title>Maze Nest</title>
</head>
<body>
     
    <!-- //////////////////////////////- -->
    <header></header>
    <nav id="navbar"></nav>
    <section id="main-section">
        <div id="info-container">
            <div id="game-status-container"></div>
        </div>
        <div id="game-container">
            <div id="game-panels">
                <div id="panel1">
                    <div id="panel1-heading"></div>
                    <div id="room-info">Room: <%= userData.room %>  </div>
                    <div id="panel1-controls">
                        <button class="control-buttons" id="start-button">Start</button>
                        <button class="control-buttons" id="reset-button">Reset</button>
                        <button class="control-buttons" id="leave-button">Leave</button>
                    </div>
                    <div id="online-container">
                        <div id="online-heading">Online players</div>
                        <div id="online-players"></div>
                    </div>
                </div>
                <div id="panel2">
                    <div id="panel2-heading">Chat box</div>
                    <div id="chat-section">
                        <div id="chat-container">
                            <!-- <div class="message-container">
                                <div class="username-box"></div>
                                <div class="message-box"></div>
                                <div class="info-box"></div>
                            </div> -->
                        </div>
                        <form action="" id="chat-form">
                            <input type="text" id="message-input" name="message" placeholder="type message..." required>
                            <button type="submit" id="message-send-btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="gameWindow"></div>
        </div>
    </section>
    <section id="section2"></section>
    <div id="footer"></div>
    <!-- scripts -->
    <script src="//cdn.jsdelivr.net/npm/phaser@3.17.0/dist/phaser.min.js"></script>
    <script src="./js/playersInfo.js"></script>
    <script src="./js/gameFunc.js"></script>
    <script src="./js/enemies.js"></script>
    <script src="./js/chatUI.js"></script>
    <script src="./js/uiControls.js"></script>
    <script src="./js/player.js"></script>
    <script>
        /*- Getting data passed from server -*/
        playerUsername='<%- userData.username%>';
        room='<%- userData.room%>';
    </script>
    <script src="./js/game.js"></script>
    <script src="./js/connectionEvents.js"></script>
    <script src="./js/gameEvents.js"></script>
</body>
</html>