
:root{

}
#html , body{
    margin: 0px;
}

#navbar{
    display: flex;
    width: 100%;
    height: 0px;
}
#info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15%;
}
#game-status-container{
    display: flex;
    width: 60%;
    height: 90%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 20px;
    background-color: black;
    color: white;
}
#main-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: teal;
}
#game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 90%;
}
#gameWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#game-panels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: aqua;
}
#panel1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 95%;
    margin: 3px;
    background-color: brown;
}
#panel1-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
#room-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
#panel1-controls{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
}
.control-buttons{
    width: 70%;
    height: 70%;
    margin: 5px;
}
#online-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 65%;
}
#online-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
#online-players{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 80%;
    background-color: azure;
    border: solid 1px black;
    overflow-y: scroll;
}
#online-players::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#online-players::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#online-players::-webkit-scrollbar-thumb
{
	background-color: var(--darkGrey);
}

.online-player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
}
#panel2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 95%;
    margin: 3px;
    background-color: brown;
}
#panel2-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
#chat-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}
#chat-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
#chat-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
#chat-form input{
    height: 70%;
    margin: 5px;
}

#section2{

}
footer{

}

