/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    /* ---color sceme--- 1 */
    --color1:   #0b0c10;
    --color2:   #1f2833;
    --color3:   #c5c6c7;  
    --color4:   #66fcf1;
    --color5:   #45a29e;  

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-koho: 'KoHo', sans-serif;
    --font-righteous: 'Righteous', cursive;
    --font-monoton: 'Monoton', cursive;
    --font-arcade: 'Press Start 2P', cursive;
}
#html , body{
    margin: 0px;
}

#navbar{
    display: flex;
    width: 100%;
    height: 0px;
}

#main-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 900px;
    background-color: var(--color1);
}
#info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15%;
    background-color: var(--color1);
}
#game-status-container{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0px 10px;
    color: var(--color4);
    background-color: var(--color2);
    text-shadow: 0px 0px 10px var(--color3);
    font-family: var(--font-arcade);
}
#game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 90%;
}
#gameWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#game-panels{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
#panel1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 90%;
    margin: 3px;
    background-color: var(--color2);
    box-shadow: 0px 0px 10px var(--color4);
}
#panel1-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#room-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: var(--color3);
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px var(--color4);
    font-family: var(--font-righteous);
}
#panel1-controls{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15%;
}
.control-buttons{
    width: 50%;
    height: 50%;
    margin: 5px;
    background-color: var(--color1);
    color: var(--color3);
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0px 0px 5px var(--color4);
    font-family: var(--font-roboto);
}
#online-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 65%;
    border: solid 1px var(--color3);
}
#online-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-koho);
    text-shadow: 0px 0px 5px var(--color5);
}
#online-players{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 80%;
    padding: 3px 0px;
    background-color: var(--color1);
    box-shadow: inset 0 0 10px var(--color4);
    overflow-y: scroll;
}
#online-players::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#online-players::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#online-players::-webkit-scrollbar-thumb
{
	background-color: var(--darkGrey);
}

.online-player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    background-color: #1f283333;
    color: var(--color4);
    text-shadow: 0px 0px 5px var(--color3);
    font-size: 1.2rem;
    font-family: var(--font-roboto);
}
#panel2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 90%;
    margin: 10px;
    background-color: var(--color2);
    box-shadow: 0px 0px 10px var(--color4);
}
#panel2-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--color3);
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px var(--color5);
    font-family: var(--font-righteous);
}
#chat-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}
#chat-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 250px;
    margin: 3px;
    padding: 3px 0px;
    background-color: var(--color1);
    box-shadow: inset 0 0 10px var(--color4);
    overflow-y: scroll;
}
#chat-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#chat-container::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#chat-container::-webkit-scrollbar-thumb
{
	background-color: var(--darkGrey);
}
.message-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    background-color: #1f283333;
    font-family: var(--font-koho);
}
.username-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 2px;
    padding: 3px 3px;
    color: var(--color4);
    text-shadow: 0px 0px 5px var(--color3);
}
.message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    margin: 2px;
    font-size: 1rem;
    word-break: break-all;
    color: var(--color3);
}
.info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2px;
    background-color: #1f283333;
    color: var(--color4);
    text-shadow: 0px 0px 5px var(--color3);
}
#chat-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
}

#message-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    margin: 5px;
    font-size: 1rem;
    padding: 0px 5px;
    outline: none;
    background-color: var(--color1);
    color: var(--color3);
    font-family: var(--font-roboto);
    box-shadow: inset 0 0 5px var(--color4);
}
#message-send-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    margin: 5px;
    background-color: var(--color1);
    color: var(--color3);
    font-size: 1rem;
    border-radius: 5px;
    font-family: var(--font-roboto);
    font-weight: bolder;
    box-shadow: 0px 0px 5px var(--color4);
}

#section2{

}
footer{

}

