
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    /* ---color sceme--- 1 */
    --color1:   #0b0c10;
    --color2:   #1f2833;
    --color3:   #c5c6c7;  
    --color4:   #66fcf1;
    --color5:   #45a29e;  

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-koho: 'KoHo', sans-serif;
    --font-righteous: 'Righteous', cursive;
    --font-monoton: 'Monoton', cursive;
    --font-arcade: 'Press Start 2P', cursive;
}
html , body{
    margin: 0px;
}

header{

}
#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: black;
}
#nav-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    margin: 0px 20px;
    padding: 0px 10px;
    font-size: 2rem;
    font-family: var(--font-arcade);
    color: var(--color5);
    text-shadow: 0px 0px 10px var(--color4);
}
#main-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    background-color: var(--color1);
}
#main-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 85%;
    margin: 5px;
}
#login-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: 10px;
}
#login-form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 20px;
    background-color: var(--color2);
    box-shadow: 0px 0px 20px var(--color4);
}
#login-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color3);
    background-color: black;
    font-family: var(--font-righteous);
    text-shadow: 0px 0px 10px var(--color5);
}
#login-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 10%;
    margin: 10px;
    font-size: 1.2rem;
    color: var(--color3);
    font-weight: bold;
    text-shadow: 0px 0px 10px red;
}
#login-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 70%;
    margin: 10px;
}
#create-form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
    margin: 20px;
    background-color: var(--color2);
    box-shadow: 0px 0px 20px var(--color4);
}
#create-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color3);
    background-color: black;
    font-family: var(--font-righteous);
    text-shadow: 0px 0px 10px var(--color5);
}
#create-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 20%;
    margin: 5px;
    font-size: 1.2rem;
    color: var(--color3);
    font-weight: bold;
    text-shadow: 0px 0px 10px red;
}
#create-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    margin: 5px;
}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 5px;
    height: 50%;
    background-color: var(--color3);
    outline: none;
    color: var(--color1);
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--font-roboto);
    border-radius: 10px;
    padding: 0px 10px;
}
.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5px;
    height: 60%;
    background-color: var(--color1);
    color: var(--color3);
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bolder;
    font-family: var(--font-koho);
    text-shadow: 0px 0px 10px var(--color3);
}
#info-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 95%;
    margin: 5px 10px;
    box-shadow: 0px 0px 10px var(--color4);
}
#info-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#info-image img{
    max-width: 95%;
    max-height: 95%;
}
#section2{

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vh;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-family: var(--font-koho);
}